<main class="main-content">
    <!--bread-crumb-->
    <div class="iq-breadcrumb" style="background-image: url(/home/images/pages/01.html);">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <nav aria-label="breadcrumb" class="text-center">
                        <h2 class="title">My Account</h2>
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="../index-2.html">Home</a></li>
                            <li class="breadcrumb-item active">My Account</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>     
    <!--bread-crumb-->

    <div class="section-padding service-details">
        <div class="container">
            <div class="dflex-center">
                    <div class="tab-content" id="product-menu-content">
                        <div class=" p-4 text-body text-center">
                                <form>
                                    <div class="form-group mb-5">
                                        <label class="mb-2">Display name&nbsp; <span class="text-danger">*</span></label>
                                        <input type="text" name="display-name" value="John" class="form-control" required="required">
                                    </div>
                                    <div class="form-group mb-5">
                                        
                                    </div>
                                    <div class="form-group mb-5 row">
                                        <div class="col-md-4">
                                            <label class="mb-2">Subscription&nbsp; <span class="text-danger">*</span></label>
                                            <input type="text" name="last-name" value="Free" class="form-control" disabled>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="mb-2">Date Created&nbsp; <span class="text-danger">*</span></label>
                                            <input type="date" name="date-created" value="2021-09-11" class="form-control" disabled>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="mb-2">Age&nbsp; <span class="text-danger">*</span></label>
                                            <input type="number" name="age" value="20" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <em class="d-block mb-5">
                                        This will be how your name will be displayed in the account
                                        section and in reviews
                                    </em>
                                    <div class="form-group mb-5">
                                        <label class="mb-2">Email address&nbsp; <span class="text-danger">*</span></label>
                                        <input type="email" name="email" value="johndeo@gmail.com" class="form-control" required="required">
                                    </div>
                                    <h4 class="fw-normal mb-5">Password change</h4>
                                    <div class="form-group mb-5">
                                        <label class="mb-2">Current password (leave blank to leave unchanged)</label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                    <div class="form-group mb-5">
                                        <label class="mb-2">New password (leave blank to leave unchanged)</label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                    <div class="form-group mb-5">
                                        <label class="mb-2">Confirm new password</label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <div class="iq-button">
                                            <a href="javascript:void(0)" class="btn text-uppercase position-relative">
                                                <span class="button-text">save changes</span>
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        
                    </div>
                
            </div>
        </div>
    </div>
</main>