@using SMovie.Domain.Models

<main class="main-content">

    <!--bread-crumb-->
    <div class="iq-breadcrumb" style="background-image: url(/home/images/pages/01.html);">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-sm-12">
            <nav aria-label="breadcrumb" class="text-center">
              <h2 class="title">Genres</h2>
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                <li class="breadcrumb-item active">Genres</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div> <!--bread-crumb-->

    <section class="section-padding">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h4 class="main-title text-capitalize mb-0">Movie Genres</h4>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
          @foreach (var category in Model.Categories)
          {   
            <div class="col mb-4">
            <div class="iq-card-geners card-hover-style-two">
              <div class="block-images position-relative w-100">
                <div class="img-box rounded position-relative">
                  <img src="~/home/images/genre/@(category.CategoryId).html" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                  <div class="blog-description">
                    <h6 class="mb-0 iq-title"><a href="view-all-movie.html"
                        class="text-decoration-none text-capitalize line-count-2 p-2">@category.Name</a></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
        <div class="text-center">
          <div class="iq-button">
            <a href="javascript:void(0)" class="btn text-uppercase position-relative">
              <span class="button-text">load more</span>
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="section-padding-bottom">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h4 class="main-title text-capitalize mb-0">Nations</h4>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
                @foreach (var nation in Model.Nations)
                {
                    <div class="col mb-4">
                        <div class="iq-card-geners card-hover-style-two">
                            <div class="block-images position-relative w-100">
                                <div class="img-box rounded position-relative">
                                    <img src="https://img.freepik.com/premium-vector/simple-flat-vector-illustration_896360-12490.jpgw=1380" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                                    <div class="blog-description">
                                        <h6 class="mb-0 iq-title">
                                            <a href="#"
                                               class="text-decoration-none text-capitalize line-count-2 p-2">@nation.Name</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            }
        </div>
        <div class="text-center">
          <div class="iq-button">
            <a href="javascript:void(0)" class="btn text-uppercase position-relative">
              <span class="button-text">load more</span>
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

  </main>
  