@using SMovie.WebUI.Models
@using SMovie.Domain.Models
@using SMovie.WebUI.Constants

<main class="main-content">

    @{
        @await Html.PartialAsync(ConstantComponent.DisplayBigSlider, (IEnumerable<MovieSlide>)Model.SlideMovies);
    }

    @{
        ViewData["title"] = "Upcoming Movies";
        @await Html.PartialAsync(ConstantComponent.DisplaySlide, (IEnumerable<MoviePreview>)Model.UpcomingMovies);
    }
  
    @{
        ViewData["title"] = "Top Ten Movies";
        @await Html.PartialAsync(ConstantComponent.DisplayTopTen, (IEnumerable<MoviePreview>)Model.TopRatingMovies);
    }

    @{
        ViewData["title"] = "Latest Movies";
        @await Html.PartialAsync(ConstantComponent.DisplaySlide, (IEnumerable<MoviePreview>)Model.NewMovies);
    }

    @{
        ViewData["title"] = "Standalone Movies";
        @await Html.PartialAsync(ConstantComponent.DisplaySlideVertical, (IEnumerable<MovieSlide>)Model.NewStandaloneMovies);
    }

    @{
        ViewData["title"] = "Top Movies most Viewer";
        @await Html.PartialAsync(ConstantComponent.DisplaySlide, (IEnumerable<MoviePreview>)Model.TopViewedMovies);
    }

    @{
        ViewData["title"] = "TV Series";
        @await Html.PartialAsync(ConstantComponent.DisplaySlideHorizontal, (IEnumerable<MovieDetail>)Model.NewTVSeries);
    }

    @{
        ViewData["title"] = "Recommend Movies";
        @await Html.PartialAsync(ConstantComponent.DisplaySlide, (IEnumerable<MoviePreview>)Model.RecommendMovies);
    }
  
  
    </main>

  

  

  


