@using SMovie.WebUI.Utilities
@{
    string controllerName = ViewContext.RouteData.Values["action"]!.ToString()!;
    string className = "custom-header-relative";
    if (Resources.Pages.Contains(className))
    {
        className = "";
    }
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Streamit-movie</title>
    
    @* import data css *@
    @await Html.PartialAsync("../Home/Import/_Head")

</head>
<body class=" @className ">
@* loading *@
@{
    await Html.RenderPartialAsync("../Home/Components/_Loading");
}

@* import header *@
@{
        await Html.RenderPartialAsync("../Home/Header/_Header");
}

@RenderBody()
@await RenderSectionAsync("Scripts", required: false)

@* import footer *@
    @{
        await Html.RenderPartialAsync("../Home/Footer/_Footer");
    }

    @* import component *@
    @{
        await Html.RenderPartialAsync("../Home/Components/_BackToTop");
        await Html.RenderPartialAsync("../Home/Components/_RTS");
    }

@* import toast *@
    @{
        await Html.RenderPartialAsync("_Toast");
    }

@* import data js *@
@await Html.PartialAsync("../Home/Import/_Js")

</body>
</html>
