@model SMovie.Domain.Models.MovieSlide

@{
    var movie = Model;
}

<!-- Modal -->
<div class="modal fade" id="trailer-@movie.MovieId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl h-90vh custom-modal-trailer">
        <div class="modal-content h-100">
            <div class="modal-body p-0">
                <button id="close-trailer" type="button" class="btn-close position-absolute z-index-9999" data-bs-dismiss="modal" aria-label="Close"></button>
                <video id="my-video" poster=""
                       class="video-js vjs-big-play-centered w-100 h-100" controls preload="auto" autoplay muted
                       data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "@(movie.Trailer)"}], "youtube": { "iv_load_policy": 1 } }'>
                </video>
            </div>
        </div>
    </div>
</div>
