<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl h-90vh custom-modal-trailer">
        <div class="modal-content h-100">
            <div class="modal-body p-0">
                <button id="close-trailer" type="button" class="btn-close position-absolute z-index-9999" data-bs-dismiss="modal" aria-label="Close"></button>
                <video id="my-video" poster="https://i.ytimg.com/vi_webp/rKVEoyTedv4/maxresdefault.webp"
                       class="video-js vjs-big-play-centered w-100 h-100" controls preload="auto" autoplay
                       data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=YydkDGstAXY&t=847s"}], "youtube": { "iv_load_policy": 1 } }'>
                    <source src="https://www.youtube.com/watch?v=YydkDGstAXY&t=847s" type="video/youtube" />
                    <source src="MY_VIDEO.html" type="video/webm" />
                </video>
            </div>
        </div>
    </div>
</div>