@using SMovie.WebUI.Constants

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Streamit-movie</title>

    @* import data css *@
    @await Html.PartialAsync(ConstantSystem.ImportDashboard.ImportCss)

</head>
<body>
    @* loading *@
    @{
        await Html.RenderPartialAsync(ConstantComponent.Loading);
    }

    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)

    @* import component *@
    @{
        await Html.RenderPartialAsync(ConstantComponent.RTS);
    }

    @* import toast *@
    @{
        await Html.RenderPartialAsync(ConstantComponent.Toast);
    }

    @* import data js *@
    @await Html.PartialAsync(ConstantSystem.ImportDashboard.ImportJs)

</body>
</html>
