
<!-- Modal -->
<div class="modal fade" id="trailer-123" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl h-90vh custom-modal-trailer">
        <div class="modal-content h-100">
            <div class="modal-body p-0">
                <div class="ratio ratio-16x9 d-none" id="preview-trailer">
                    <iframe class="embed-responsive-item" src="" width="24" height="24" allowfullscreen></iframe>
                </div>
                <div class="ratio ratio-16x9 d-none" id="preview-image">
                    <img src="" />
                </div>
            </div>
        </div>
    </div>
</div>
