@using SMovie.WebUI.Constants

@{
    bool authUser = !string.IsNullOrEmpty(Context.Request.Cookies["AccessToken"]);
}

<!--Nav Start-->
<header class="header-center-~/home header-default header-sticky">
<nav class="nav navbar navbar-expand-xl navbar-light iq-navbar header-hover-menu py-xl-0">
<div class="container-fluid navbar-inner">
<div class="d-flex align-items-center justify-content-between w-100 landing-header">
<div class="d-flex gap-3 gap-xl-0 align-items-center">
  <div>
    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar_main"
            aria-controls="navbar_main"
            class="d-xl-none btn btn-primary rounded-pill p-1 pt-0 toggle-rounded-btn">
      <svg width="20px" class="icon-20" viewBox="0 0 24 24">
        <path fill="currentColor"
              d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
      </svg>
    </button>
  </div>
  <!--Logo -->
  <div class="logo-default">
    <a class="navbar-brand text-primary" asp-area="" asp-controller="Home" asp-action="Index">
      <img class="img-fluid logo" src="~/home/images/logo.html" loading="lazy" alt="streamit" />
    </a>
  </div>
  <div class="logo-hotstar">
    <a class="navbar-brand text-primary" asp-area="" asp-controller="Home" asp-action="Index">
      <img class="img-fluid logo" src="~/home/images/logo-hotstar.html" loading="lazy" alt="streamit" />
    </a>
  </div>
  <div class="logo-prime">
    <a class="navbar-brand text-primary" asp-area="" asp-controller="Home" asp-action="Index">
      <img class="img-fluid logo" src="~/home/images/logo-prime.html" loading="lazy" alt="streamit" />
    </a>
  </div>
  <div class="logo-hulu">
    <a class="navbar-brand text-primary" asp-area="" asp-controller="Home" asp-action="Index">
      <img class="img-fluid logo" src="~/home/images/logo-hulu.html" loading="lazy" alt="streamit" />
    </a>
  </div>

</div>
<nav id="navbar_main"
     class="offcanvas mobile-offcanvas nav navbar navbar-expand-xl hover-nav horizontal-nav mega-menu-content py-xl-0">
  <div class="container-fluid p-lg-0">
    <div class="offcanvas-header px-0">
      <div class="navbar-brand ms-3">
        <!--Logo -->
        <div class="logo-default">
          <a class="navbar-brand text-primary" href="index-2.html">
            <img class="img-fluid logo" src="~/home/images/logo.html" loading="lazy" alt="streamit" />
          </a>
        </div>
        <div class="logo-hotstar">
          <a class="navbar-brand text-primary" href="index-2.html">
            <img class="img-fluid logo" src="~/home/images/logo-hotstar.html" loading="lazy"
                 alt="streamit" />
          </a>
        </div>
        <div class="logo-prime">
          <a class="navbar-brand text-primary" href="index-2.html">
            <img class="img-fluid logo" src="~/home/images/logo-prime.html" loading="lazy" alt="streamit" />
          </a>
        </div>
        <div class="logo-hulu">
          <a class="navbar-brand text-primary" href="index-2.html">
            <img class="img-fluid logo" src="~/home/images/logo-hulu.html" loading="lazy" alt="streamit" />
          </a>
        </div>
      </div>
      <button type="button" class="btn-close float-end px-3" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
    </div>
    <ul class="navbar-nav iq-nav-menu  list-unstyled" id="header-menu">
      <li class="nav-item">
        <a class="nav-link" href="#features" role="button" aria-expanded="false"
           aria-controls="~/homePages">
          <span class="item-name">Cinema</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#pages" role="button" aria-expanded="false"
           aria-controls="~/homePages">
          <span class="item-name">Movies</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#blog" role="button" aria-expanded="false"
           aria-controls="blog">
          <span class="item-name">TV Serires</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#blog" role="button" aria-expanded="false"
           aria-controls="blog">
          <span class="item-name">Kid</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#shop" role="button" aria-expanded="false"
           aria-controls="shop">
          <span class="item-name">Other</span>
          <span class="menu-icon">
            <i class="fa fa-caret-down toggledrop-desktop right-icon" aria-hidden="true"></i>
            <span class="toggle-menu">
              <i class="fa fa-plus  arrow-active text-white" aria-hidden="true"></i>
              <i class="fa fa-minus  arrow-hover text-white" aria-hidden="true"></i>
            </span>
          </span>
        </a>
        <ul class="sub-nav collapse  list-unstyled" id="shop">
          <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Person" asp-action="Index"> Casts </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Genres"> Genres </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- container-fluid.// -->
</nav>
<div class="right-panel">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-btn">
      <span class="navbar-toggler-icon"></span>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav align-items-center ms-auto mb-2 mb-xl-0">
      <li class="nav-item dropdown iq-responsive-menu">
        <div class="search-box">
          <a href="#" class="nav-link p-0" id="search-drop" data-bs-toggle="dropdown">
            <div class="btn-icon btn-sm rounded-pill btn-action">
              <span class="btn-inner">
                <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <circle cx="11.7669" cy="11.7666" r="8.98856" stroke="currentColor" stroke-width="1.5"
                          stroke-linecap="round" stroke-linejoin="round">
                  </circle>
                  <path d="M18.0186 18.4851L21.5426 22" stroke="currentColor" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round">
                  </path>
                </svg>
              </span>
            </div>
          </a>
          <ul class="dropdown-menu p-0 dropdown-search m-0 iq-search-bar" style="width: 20rem;">
            <li class="p-0">
              <div class="form-group input-group mb-0">
                <input type="text" class="form-control border-0" placeholder="Search...">
                <button type="submit" class="search-submit">
                  <svg class="icon-15" width="15" viewBox="0 0 24 24" fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <circle cx="11.7669" cy="11.7666" r="8.98856" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round">
                    </circle>
                    <path d="M18.0186 18.4851L21.5426 22" stroke="currentColor" stroke-width="1.5"
                          stroke-linecap="round" stroke-linejoin="round">
                    </path>
                  </svg>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item dropdown" id="itemdropdown1">
                                <a class="nav-link d-flex align-items-center" @(authUser ? "data-bs-toggle=dropdown" : "href=/Login")
                                   id="navbarDropdown" role="button" aria-expanded="false">
          <div class="btn-icon rounded-pill user-icons">
            <span class="btn-inner">
              <svg class="icon-18" width="18" viewBox="0 0 24 24" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z"
                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z"
                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
          </div>
        </a>
            @{
                if(authUser) 
                    await Html.RenderPartialAsync(ConstantComponent.InforUser);
            }
      </li>
    </ul>
  </div>
</div>
</div>
</div>
</nav>
</header>
<!--Nav End-->