@using SMovie.Domain.Models

<main class="main-content">
    <!--bread-crumb-->
    <div class="iq-breadcrumb" style="background-image: url(/home/images/pages/01.html);">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-sm-12">
            <nav aria-label="breadcrumb" class="text-center">
              <h2 class="title">Cast</h2>
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                <li class="breadcrumb-item active">Cast</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div> <!--bread-crumb-->

    <section class="section-padding">
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-cols-xl-6">
            @foreach(var person in Model) {
                    <div class="col">
                        <div class="iq-cast">
                            <img src="@person.Thumbnail" class="img-fluid" alt="castImg" />
                            <div class="card-img-overlay iq-cast-body">
                                <h6 class="cast-title fw-500">
                                    <a href="person-detail.html">
                                        @person.NamePerson
                                    </a>
                                </h6>
                                <span class="cast-subtitle">
                                    @person.Role
                                </span>
                            </div>
                        </div>
                    </div>
            }
        </div>
        <div class="text-center">
          <div class="iq-button">
            <a href="javascript:void(0)" class="btn text-uppercase position-relative">
              <span class="button-text">load more</span>
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  