<main class="main-content">
    <!--bread-crumb-->
    <div class="iq-breadcrumb" style="background-image: url(/home/images/pages/01.html);">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <nav aria-label="breadcrumb" class="text-center">
                        <h2 class="title">Pricing Plan</h2>
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li class="breadcrumb-item active">Pricing Plan</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>      
    <!--bread-crumb-->


    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                    <div class="pricing-plan-wrapper">
                        <div class="pricing-plan-discount bg-primary p-2 text-center">
                            <span class="text-white">Best For Beginer</span>
                        </div>
                        <div class="pricing-plan-header">
                            <h4 class="plan-name text-capitalize text-body">Free</h4>
                            <span class="main-price text-primary">$0</span>
                            <span class="font-size-18">/ 1 Month</span>
                        </div>
                        <div class="pricing-details">
                            <div class="pricing-plan-description">
                                <ul class="list-inline p-0">
                                    <li>
                                        <i class="fas fa-check text-primary"></i>
                                        <span class="font-size-18 fw-500">Ads free movies and shows</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-times"></i>
                                        <span class="font-size-18 fw-500">Watch on TV or Laptop</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-times"></i>
                                        <span class="font-size-18 fw-500">Streamit Special</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-times"></i>
                                        <span class="font-size-18 fw-500">Max video quality</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="pricing-plan-footer">
                                <div class="iq-button">
                                    <a href="javascript:void(0)" class="btn text-uppercase position-relative">
                                        <span class="button-text">select free</span>
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-plan-wrapper">
                        <div class="pricing-plan-discount bg-primary p-2 text-center">
                            <span class="text-white">Best For Professionals</span>
                        </div>
                        <div class="pricing-plan-header">
                            <h4 class="plan-name text-capitalize text-body">Basic</h4>
                            <span class="main-price text-primary">$19</span>
                            <span class="font-size-18">/ 1 Month</span>
                        </div>
                        <div class="pricing-details">
                            <div class="pricing-plan-description">
                                <ul class="list-inline p-0">
                                    <li>
                                        <i class="fas fa-times"></i>
                                        <span class="font-size-18 fw-500">Ads free movies and shows</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-check text-primary"></i>
                                        <span class="font-size-18 fw-500">Watch on TV or Laptop</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-check text-primary"></i>
                                        <span class="font-size-18 fw-500">Streamit Special</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-check text-primary"></i>
                                        <span class="font-size-18 fw-500">Max video quality</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="pricing-plan-footer">
                                <div class="iq-button">
                                    <a href="javascript:void(0)" class="btn text-uppercase position-relative">
                                        <span class="button-text">select basic</span>
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                    <div class="pricing-plan-wrapper">
                        <div class="pricing-plan-discount bg-primary p-2 text-center">
                            <span class="text-white">Best For Everyone</span>
                        </div>
                        <div class="pricing-plan-header">
                            <h4 class="plan-name text-capitalize text-body">Premium</h4>
                            <span class="sale-price text-decoration-line-through">$49</span>
                            <span class="main-price text-primary">$39</span>
                            <span class="font-size-18">/ 3 Month</span>
                        </div>
                        <div class="pricing-details">
                            <div class="pricing-plan-description">
                                <ul class="list-inline p-0">
                                    <li>
                                        <i class="fas fa-check text-primary"></i>
                                        <span class="font-size-18 fw-500">Ads free movies and shows</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-check text-primary"></i>
                                        <span class="font-size-18 fw-500">Watch on TV or Laptop</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-check text-primary"></i>
                                        <span class="font-size-18 fw-500">Streamit Special</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-check text-primary"></i>
                                        <span class="font-size-18 fw-500">Max video quality</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="pricing-plan-footer">
                                <div class="iq-button">
                                    <a href="javascript:void(0)" class="btn text-uppercase position-relative">
                                        <span class="button-text">select premium</span>
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</main>